<footer>
  <ul>
    <li>
      <a href="https://github.com/Bram-ter" target="_blank">
        <img src="/github.svg" alt="Icon of the GitHub logo">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/bram-tersteeg-5256b914b/" target="_blank">
        <img src="/linkedin.svg" alt="Icon of the LinkedIn logo">
      </a>
    </li>
  </ul>
  </footer>
</body>
</html>