<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Bram's personal website">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta name="color-scheme" content="light dark"> -->
  <link rel="manifest" href="/manifest.json"></link>
  <link rel="stylesheet" href="/dist/style.min.css"></link>
  <!-- <link rel="stylesheet" href="/css/buttons.css"></link> -->
  <!-- <script type="module" src="/js/3d.js" defer></script> -->
  <script type="module" src="/dist/script.min.js" defer></script>
  <title>Progressive web app</title>
</head>
  <body>

