<% repos.forEach(function(item) { %>
<section>
    <div>
        <article>

          <h2><%= item.full_name %></h2>

          <p><%= item.description %></p>

          <a href="/details/<%= item.name %>" target="_blank">
            <span></span>
            <p>View project</p>
            <span></span>
            <span></span>
          </a>

        </article>
    </div>

    <figure>
      <img src="https://picsum.photos/200" alt="" />
    </figure>
</section>
<% }); %>