<%- include ("../partials/head.ejs") %>
<a href="/my-work">Back to homepage</a>
<article>
<h1><%= repo.name %></h1>

<p><%= repo.description %></p>
</article>
<%- include ("../partials/footer.ejs") %>
