<%- include ("../partials/head.ejs") %>
<a href="/my-work">Back to overview</a>
<section class="error-section">
<h1>Het ziet ernaar uit dat je geen internet hebt</h1>
<img src="/assets/error_illustration.svg" alt="error" />
</section>
<%- include ("../partials/footer.ejs") %>
