<%- include ("../partials/head.ejs") %>
    <main>
      <article>
        <div>
          <h1>Hi, I'm Bram</h1>
          <h2>A Communication and Multimedia design student.</h2>
          <h3>Studying at the Amsterdam University of Applied Sciences</h3>

            <a href="/my-work">
              <span></span>
              <p>My work</p>
              <span></span>
              <span></span>
            </a>

            <a href="https://drive.google.com/file/d/1LqsKcqMy3T-cWkJsSyErVjA9UYAhMsv2/view?usp=sharing" target="_blank">
              <span></span>
              <p>CV</p>
              <span></span>
              <span></span>
            </a>
        </div>
      </article>
      <figure>
        <img src="/assets/room_illustration.svg" alt="Illustration of my room">
      </figure>
        <canvas></canvas>
    </main>
<%- include ("../partials/footer.ejs") %>
